p {
    margin: 0px;
}

.post {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.post__avatar {
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.post__text{
    margin-top: auto;
    margin-bottom: auto;
}

.post__avatarImg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}


.post__likes{
    margin-left: auto;
    display: flex;
}

.likes__btn{
    border: 0px;
    background-color: white;
}

.likes__btn:active {
    background-color: rgb(224, 209, 209);
}


.likes__count {
    width: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}