.menu {
    grid-area: m;
    background-color: rgb(197, 217, 236);
    margin-top: 30px;
    margin-right: 10px;
    width: 120px;
    height: 500px;
}

.menu__nav {
    margin-top: 3px;
}

.menu__nav_element {
    padding-top: 10px;
}

.menu__nav_element:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(144, 164, 182);
}

.item {
    color: black;
    text-decoration: none;
}

.item__text {
    text-align: center;
}

.item:active {
    color: black;
}

.active {
    color: rgb(100, 117, 133);
    text-decoration: none;
    background-color: rgb(80, 107, 133);
}