input[type="file"] {
    display: none;
}

.profile {
    height: 400px;
}

.profile__profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile__avatar {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.profile__avatar_img {
    width: 150px;
}

.avatar_change {
    margin-top: 3px;
    background-color: rgb(197, 217, 236);
    max-width: 170px;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.profile__infoHeader {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.status {
    font-size: 16px;
    cursor: pointer;
}

.aboutMe {
    margin-bottom: 20px;
}

.job {
    margin-bottom: 20px;
}

.setProfileBtn {
    margin-top: 5px;
    background-color: rgb(197, 217, 236);
    padding: 2px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(197, 217, 236);
}

.form_container {
    display: flex;
    justify-content: space-around;
}

.profileForm {
    position: relative;
    height: 270px;
}

.profileForm_submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(197, 217, 236);
    padding: 2px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(197, 217, 236);
    width: 100px;
    height: 30px;
}

.formInput {
    border: 2px solid rgb(197, 217, 236);
    height: 20px;
    width: 200px;
    margin-bottom: 7px;
}

.input_description {
    display: block;
    text-align: center;
}

.form_job {
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    margin-bottom: 7px;
}